* {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #D5E1EF;
}
h2{
    color: #1F314F;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
      padding: 0 1.3rem;

}
p{
    color: #68778D;
    font-size: 15px;
    text-align: center;
    font-weight: regular;
    padding: 1rem 3rem;
}
 img {
  width: 100%;
  padding: 1rem;
  border-radius: 25px;
}

.card{
  width: 350px;
  height: 520px;
  background-color: #fff;
  border-radius: 20px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 7rem;
}

.qrcode{
      text-align: center;
}