@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit&display=swap');

*{
      font-family: "Inter", sans-serif;
      margin:0;
}
h2, h4, p{
    text-align: center;
}

body{
    background-color:hsl(0, 0%, 8%) ;
    color: white;
}
.profile-card{
    background-color: hsl(0, 0%, 12%);
    width: 350px;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.buttons{
    display:flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;        
    margin-top: 20px;
    margin-bottom: 10px;
}
img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-weight: 500;
    margin-top: 20px;
}
h4{
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    margin-top: 10px;
    font-size: 14px;

}
p{
    font-size: 14px;
    color:white;
    opacity: 0.7;
    margin-top: 25px;
    font-weight: 500;
}

button{
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    cursor: pointer;
    width: 300px;
    height: 40px;
    border: none;   
    font-size: 16px;
    font-weight: 600;
}

