@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --White: hsl(0, 100%, 100%);
    --Purple-100: hsl(275, 100%, 97%);
    --Purple-600: hsl(292, 16%, 49%);
    --Purple-950: hsl(292, 42%, 14%);
}
*{
    margin:0;
    padding:0;
}
body {
    font-family: "Work Sans", sans-serif;
    background-color: var(--Purple-100);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: top center; 
    background-size: 100% auto;
}

.container{
    background-color: var(--White);
    max-width: 600px;    
    padding: 20px;
    border-radius: 20px;
}

.title{
    display: flex;
    align-items: center;
    gap: 20px;
}

h1,h2{
    color: var(--Purple-950);
}
h1{
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 2rem;
}

h2{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

p{
    color: var(--Purple-600);
    font-weight: 400;
}

.accordion{
    border-bottom: 1px solid var(--Purple-100);
    padding: 20px 0;
    cursor: pointer;
    overflow: hidden;
}
button{
    background: none; 
    border: none; 
    width: 100%; 
    text-align: left; 
    font: inherit;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.question .sign {
    content: url('images/icon-plus.svg');
    transition: transform 0.3s ease;
}

.question.active .sign {
    content: url('images/icon-minus.svg');
}

.answer{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 375px) {
    body{
        background-image: url('./images/background-pattern-mobile.svg');
        align-items: center;
    }
    .container{
        width: 90%;
    }
}